{% extends 'course/course_base.html' %}
{% block base %}
<html>
<head>
    <body>
<section>
    <div class="w3l-index-block4 pb-5">
        <div class="features-bg pb-lg-5 pt-lg-4 py-4">
            <div class="container">
                <div class="title-main text-center mx-auto mb-md-4">
                    <h3 class="title-big">Explore Our Courses</h3>
                    <p class="sub-title mt-2">Empower yourself through learning. Our platform opens doors to knowledge,
                        offering diverse courses for your personal and professional growth.</p>
                </div>
                <div class="row">
                    {% for i in a %}
                    <div class="col-lg-4 col-md-6 features15-col-text">
                        <a href="/course/sql/" class="d-flex feature-unit align-items-center">
                            <div class="col-4">
                                <div class="features15-info">
                                    <img class="img-fluid" src="/static/assets/images/c2.png" alt=" ">
                                </div>
                            </div>
                            <div class="col-8">
                                <div class="features15-para">
                                    <h2>{{ i.course.course }}</h2>
                                  <tr>
                                        <td>{{ i.course.description}}</td>
                                      <br>
                                      <td><b>{{ i.course.course_fee}}</b></td>

                                  </tr>

                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}


                </div>
                   <!-- pagination -->
                   <div class="pagination-style">
                    <ul>
                        <li> <a href="#none" class="not-allowed" disabled="">
                                <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li><a class="active" href="#page">1</a></li>
                        <li>
                            <a href="#page">2</a>
                        </li>
                        <li>
                            <a href="#page">3</a>
                        </li>
                        <li>
                            <a href="#page"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- //pagination -->
            </div>

        </div>
    </div>
</section>
</body>
</head>
</html>
{% endblock %}