<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post">
        {% csrf_token %}<center>
		<h1>Teacher</h1>
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name"></td>
			</tr>

				<tr>
					<td>Password </td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr>
				<td>Course</td>
				<td><select name="qualification">
					<option>select</option>
					<option value="UG">UG</option>
					<option value="PG">PG</option>
				    </select></td></tr>
				    <tr>
				    	<td>Subject</td>
				        </td><td><input type="text" name="subject" ></td>
				    </tr>
				</table>
                <input type="submit" value="Register">

</center>
	</form>

</body>
</html>