{% extends 'course/course_base.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Manage Users</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        button {
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h2 align="center">Admin Manage Users</h2>

    <form  method="post">
    <br>
     
{% csrf_token %}

    <h2 align="center">User Details</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>email</th>
            <th>Gender</th>
            <th>Age</th>
            <th></th>
            
        </tr>{% for i in a %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.gender }}</td>
            <td>{{ i.age }}</td>
            <td>
            <a href="/student/ edit_profile/{{ i.student_id }}">Edit</a></td>
{#         <a href="/student/delete/{{ i.student_id }}">Delete</a>#}

             </tr>{% endfor %}
        <!-- Add more rows as needed -->
    </table>

       </form>

</body>
</html>
{% endblock %}