{% extends 'temp/index2.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post">
        {% csrf_token %}
        <center>
		<h1>Student</h1>
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" name="name" required="" class="form-control"></td>
			</tr>

				<tr>
					<td>Address </td>
				<td><input type="text" name="address" required="" class="form-control"></td>
			</tr>
				<tr>
					<td>password </td>
				<td><input type="text" name="password" required="" class="form-control"></td>
			</tr>
				<tr><td>Gender</td>
				<td><input type="radio" name="gender" value="male" required="" class="form-control">Male
				
				<input type="radio" name="gender" value="female" required="" class="form-control">Female </td>
			</tr>
				<tr><td>Age </td>
				<td><input type="number" name="age" required="" class="form-control"></td>
			</tr></center></table><br>
                <input type="submit" value="Register">

</center>
	</form>

</body>
</html>
{% endblock %}