{% extends 'course/course_base.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body><form method="post">
    {% csrf_token %}
	<center>
	<h1>Course</h1>
		<table id="table">
			<tr><td>Course</td>
			<td><input type="text" name="course" required="" class="form-control"></td>
		</tr>
		<tr><td>Fees</td>
		<td><input type="text" name="fee" required="" class="form-control"> </td></tr>
		
		<tr><td>Duration</td>
		<td><input type="text" name="duration" required="" class="form-control"> </td></tr>
		
		</table><br>
		<input type="submit" value="Submit" >
		</center>
	</form>

</body>
</html>
{% endblock %}