{%  extends 'course/course_base.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Course</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 50px;
            position: relative;
            padding:20px;
            top:50px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
<form method="post">
{#    <h2>View Course</h2>#}

    <table>
        <tr>
            <th>Course Name</th>
             <th>Description</th>
            <th>Course Duration</th>
            <th>Course Fee</th>
        </tr>
        {% for i in b %}
        <tr>
            <td> {{i.course}}</td>
             <td> {{i.description}}</td>
            <td>{{ i.duration }}</td>
            <td>{{ i.course_fee }}</td>

        </tr>{% endfor %}
        <!-- Add more rows as needed -->
    </table>
</form>
</body>
</html>
{%  endblock %}