<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form method="post">
    {% csrf_token %}
	<center>
	<h1>Progress</h1>
		<table>

		<tr><td>Course</td>
		<td><input type="text" name="course"> </td></tr>

            <tr><td>Teacher_name</td>
		<td><input type="text" name="teacher_id"> </td></tr>
             <tr><td>Student_name</td>
		<td><input type="text" name="student_id"> </td></tr>

		<tr><td>Task Progress</td>
		<td><input type="text" name="progress"></td></tr>
		
		</table><br>
		<input type="submit" value="Submit">
		</center>
	</form>
</body>
</html>